*.o
*.a
*.elf
*.map

.DS_Store
._*

firmware/misc/to565
firmware_loader/fwload
firmware/firmware-*.bin

firmware/binary_data/bignumbers_data
firmware/binary_data/fixed_images
firmware/binary_data/font_data
firmware/binary_data/help_screens_en
firmware/binary_data/help_screens_jp
firmware/binary_data/splashscreen
firmware/binary_data/splashscreen888
firmware/binary_data/tinyfont_data
